<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257300598085-8k45o7f178f8lkbl09l5nj8ltgv63a7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257300598085-8k45o7f178f8lkbl09l5nj8ltgv63a7p</string>
	<key>API_KEY</key>
	<string>AIzaSyAIfT5J9U0_kQeC-4hluVK5VJhrBh1wsPk</string>
	<key>GCM_SENDER_ID</key>
	<string>257300598085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naumaansheikh.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-c321d</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-c321d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257300598085:ios:9ba3b74dd1eec8b4fb422c</string>
</dict>
</plist>